*{

    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    

}
.headtext
{
    text-align: center;
}
.headtext h9
{
    font-weight: bold;
    font-size: 60px;
    letter-spacing: 5px;
    color: white;
}
.card-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    
}

.card {
  /*  background-color: white; */
    width: 300px;
   /* border: 5px solid #ffffff;*/
    text-align: center;
    margin: 20px;
}

.card-image {
    background-color: #f0f0f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #888;
    border: 5px solid #ffffff;
}
.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-name {
 font-weight: bold;
    padding: 10px 0;
    border-top: 1px solid #ddd;
    font-size: 20px;
    align-items: center;
 background-color: white;
 bottom: 5%;
 max-width: 80%;
 max-height: 5%;
 margin-left: 10%;
 
 
}

.card-role {
    background-color: black;
    color: white;
   font-weight: normal;
    font-size: 20px;
   max-width: 100%;
   max-height: 30%;
margin-top: 5%;
    
}

/* Responsive Design */
@media (max-width: 768px) {
    .card {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .card {
        width: 100%;
    }
}
footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
  }
  p.copyright {
    margin: 10px;
    color: white;
    font-size: medium;
  }
  body{
    min-height: 100vh; 
    background-color: #4f4e4e;
    display: flex; 
    flex-direction: column;
    margin: 0;
  }
.h6
{
    text-align: left;
    font-size: 120px;
    font-weight: 600;
}
.header
{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../assets/resources/portalrev.png);  
   /* background: linear-gradient(135deg,#cccccc,#cccccc); */

    background-position: center;
    background-size: cover;
    position: relative;
    
}

nav
{
   /*  background: linear-gradient(135deg, #151415, #121212); */
    display: flex;
    padding: 0.3% 1%;
    justify-content: space-between;
    align-items: center;
   
}
nav img{
    width: 100px;
    
}
.footer
{
    height: 20%;
    width: 100%;
   background: #000;
    background-position: center;
    background-size: cover;
    position: relative;

}
h1
{
    color: white;
    align-items: center;
    font-size: 25px;
    letter-spacing: 1px;
    margin-bottom: 0.5%;
    margin-top: 0.5%;
}
#images
{
    width: 20%;
}
.nav-links
{
    flex: 1;
    text-align: right;
}
.a2
{
    width: 100px;
}
.nav-links ul li
{
    list-style: none;
    display: inline-block;
    padding: 8px 12px; 
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li::after
{
    content: '';
    width: 0%;
    height: 2px;
    background: #ffffff;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after
{
    width: 100%;
}
.text-box
{
    width: 90%;
    color: black;
    position: absolute;

    
    text-align: center;
}
.text-box h1{
    font-size: 40px;

}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
button
{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20 10px;
    border-radius: 25px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    border: 3px solid #43454f;
    background: transparent;
    color: #fff;
    cursor: pointer;
}
span{
    background: #43454f;
    height: 100%;
    width: 0;
    border-radius: 17px;
    z-index: -1;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s;
}
button:hover span
{
    width: 100%;

}
button:hover
{
   text-shadow: black;

}
nav .fa{
    display: none;
}
@media(max-width: 768px)
{
    .nav-links {
        /* Existing styles */
        touch-action: none; /* Add this line to disable touch events */
        display: none;
    }
   .text-box h1{
    font-size: 20px;
   }
   .text-box h5
   {
    font-size: 20px;
   }
   .nav-links ul li{
    display: block;
   }
   #images
   {
   width: 40%;
   }
   .nav-links{
    position: absolute;
    background: linear-gradient(135deg, #1b1a1c, #2f2e30);
    
    height: 100vh;
    width: 200px;
    top:0;
    right:  -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
   }
   nav .fa {
    display: block;
    color:#fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
   }
   .nav-links ul{
    padding: 30px;
   }


}

.course {
    background: #cccccc;
    width: 100%;
    margin: auto;
    text-align: left;
    padding-top: 100px;
}
.h1{
    font-size: 50px;
    font-weight: 600;
}
.h7{
    font-size: 50px;
    font-weight: 600;
    text-align: left;
}
.h2 
{
    font-size: 45px;
    font-weight: 600;
}
p{
    color: #000;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}    
.outlinerow {
    border: 2px solid gold;
    padding: 20px;
    margin: 50px auto;
}
.row{
    margin-top: 5%;
    display: flex;
   justify-content: space-evenly; 
   align-items: left;
}
.course-color {
    flex-basis: 80%;
    height: 80%;

    background: white;
    border: 15px solid #4f4e4e; 
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    align-items: left;
}

.course-color2{
    flex-basis: 31%;
    background: white;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: left;
    font-weight: 300;
    margin: 10px 0;
}
h5{
font-size: 30px;
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    color: #e2e2fd;
}
.course-color:hover{
    box-shadow: 0 0 20px 0px #00000080;
}
@media(max-width: 768px)
{
    .row{
        flex-direction: column;
    }
}
/*.ytvideoembed
{
    margin: left;
    width: 400px;
    height: 225px;
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
} */
.artilar {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.row2 {
    display: flex;
    justify-content: center;
}

.rounded-box {
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; 
}

.text {
    padding: 20px;
   flex: 1; 
   border-radius: 20px;
   background-color: white;
}

.video {
    position: relative;
    padding-top: 56.25%; 
}
.h4{
    font-size: 36px;
    font-weight: 600;
    flex: 1;
}
.p4{
    color: #000;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    flex: 1;
}
.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

@media (max-width: 768px) {
  .h4
  {
    font-size: 15px;
    font-weight: 600;
  }
  .p4 {
    font-size: 5px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
   }
  }
.contactus
{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../assets/resources/portalrev.png);
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    text-align: center;
    padding: 100px 0;
}
.contactus h1{
    color:#fff;
    margin-bottom: 40px;
    padding: 0;

}
button2
{ 
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 25px;
}
button2:hover{
    border: 1px solid #6464b0;
    background: #6464b0;
    transition: 1s;
}





